<div class="mt-5 container-fluid">

  <div class="row justify-content-center">

    <div class="col-12 col-md-10">

      <div class="card">

        <div class="card-header">

          <div class="row">

            <div class="col-8 col-md-10">

              <h4 class="title"> Toastr <small class="text-muted">v1</small></h4>

            </div>

            <div class="col-4 col-md-2">

              <div class="row d-flex justify-content-center">

                <div class="col-12 d-flex justify-content-center text-muted">
                  <h5 class="title">Theme</h5>
                </div>

                <div class="col-12 d-flex justify-content-center theme-colors">

                  <div class="selector-info" aria-label="Info theme"
                    [ngClass]="{'active': currentTheme === 'info'}" role="button"
                    data-toggle="tooltip" title="Change to theme-info"
                    (click)="changeTheme('info')"></div>

                  <div class="selector-success" aria-label="Success theme"
                    [ngClass]="{'active': currentTheme === 'success'}" role="button"
                    data-toggle="tooltip" title="Change to theme-success"
                    (click)="changeTheme('success')"></div>

                  <div class="selector-warning" aria-label="Warning theme"
                    [ngClass]="{'active': currentTheme === 'warning'}" role="button"
                    data-toggle="tooltip" title="Change to theme-warning"
                    (click)="changeTheme('warning')"></div>

                  <div class="selector-danger" aria-label="Danger theme"
                    [ngClass]="{'active': currentTheme === 'danger'}" role="button"
                    data-toggle="tooltip" title="Change to theme-danger"
                    (click)="changeTheme('danger')"></div>

                  <div class="selector-dark" aria-label="Dark theme"
                    [ngClass]="{'active': currentTheme === 'dark'}" role="button"
                    data-toggle="tooltip" title="Change to theme-dark"
                    (click)="changeTheme('dark')"></div>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="card-body">

          <div class="row">

            <div class="col-12 col-md-6 col-lg-4">

              <config-main (updateMainConfig)="updateMainConfig($event)"></config-main>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

              <config-timeout (updateTimeOut)="updateTimeOut($event)"></config-timeout>

              <config-toast (updateToastOpener)="updateToastOpener($event)"></config-toast>

            </div>

            <div class="col-12 col-md-6 col-lg-4">
                
              <config-toast-zone (updatePositionClass)="updatePositionClass($event)"></config-toast-zone>

              <config-progressbar (updateProgressBar)="updateProgressBar($event)"></config-progressbar>

              <div class="form-group checkbox-container">

                  <div class="form-check info-radio"
                    data-toggle="tooltip" data-placement="left" title="Selected info Toast"
                    [ngClass]="{'selected': selectedToastType === toastTypes.info}">
                      <input
                        id="infoRadio"
                        type="radio"
                        name="toastTypes"
                        class="form-check-input"
                        [value]="toastTypes.info"
                        [checked]="selectedToastType === toastTypes.info"
                        (change)="changeToastSelected($event)"
                      />
                      <label for="infoRadio" class="form-check-label"
                        >Info</label
                      >
                    </div>
      
                    <div class="form-check success-radio"
                      data-toggle="tooltip" data-placement="left" title="Selected success Toast"
                      [ngClass]="{'selected': selectedToastType === toastTypes.success}">
                      <input
                        id="successRadio"
                        type="radio"
                        name="toastTypes"
                        class="form-check-input"
                        [value]="toastTypes.success"
                        [checked]="selectedToastType === toastTypes.success"
                        (change)="changeToastSelected($event)"
                      />
                      <label for="successRadio" class="form-check-label"
                        >Success</label
                      >
                    </div>
      
                    <div class="form-check warning-radio"
                      data-toggle="tooltip" data-placement="left" title="Selected warning Toast"
                      [ngClass]="{'selected': selectedToastType === toastTypes.warning}">
                      <input
                        id="warningRadio"
                        type="radio"
                        name="toastTypes"
                        class="form-check-input"
                        [checked]="selectedToastType === toastTypes.warning"
                        [value]="toastTypes.warning"
                        (change)="changeToastSelected($event)"
                      />
                      <label for="warningRadio" class="form-check-label"
                        >Warning</label
                      >
                    </div>

                    <div class="form-check danger-radio"
                      data-toggle="tooltip" data-placement="left" title="Selected danger Toast"
                      [ngClass]="{'selected': selectedToastType === toastTypes.danger}">
                      <input
                        id="dangerRadio"
                        type="radio"
                        name="toastTypes"
                        class="form-check-input"
                        [checked]="selectedToastType === toastTypes.danger"
                        [value]="toastTypes.danger"
                        (change)="changeToastSelected($event)"
                      />
                      <label for="dangerRadio" class="form-check-label"
                        >Danger</label
                      >
                    </div>
      
              </div>

            </div>

          </div>

          <hr>

          <div class="row button-container justify-content-center align-items-center">

            <div class="col-12 col-md-6 col-xl-3 mt-4">

              <button class="btn btn-light text-muted w-100 open-toast"
                data-toggle="tooltip" title="Open Toast!"
                (click)="openNotify()">
                <span class="material-icons-round">
                  view_agenda
                </span>                  
                Open
              </button>

            </div>
            
            <div class="col-12 col-md-6 col-xl-3 mt-4">

              <button class="btn btn-light text-muted w-100"
                data-toggle="tooltip" title="Remove the last open toast"
                (click)="clearLastNotify()">
                <span class="material-icons-round">
                  remove
                </span> 
                Close Last
              </button>

            </div>

            <div class="col-12 col-md-6 col-xl-3 mt-4">

              <button class="btn btn-light text-muted w-100"
                data-toggle="tooltip" title="Clear all toast"
                (click)="clearAllNotify()">
                <span class="material-icons-round">
                  clear_all
                </span>
                Clear All
              </button>

            </div>

            <div class="col-12 col-md-6 col-xl-3 mt-4">

              <button class="btn btn-light text-muted w-100"
                data-toggle="tooltip" title="Downnload current configuration"
                  (click)="downloadConfiguration()">
                  <span class="material-icons-round">
                    download_for_offline
                  </span>
                  Download
              </button>

            </div>

          </div>

        </div>

        <div class="card-footer text-muted">

          <div class="row">

            <div class="col-12 col-md-6">

              Develop with
              <i class="material-icons-two-tone">
                favorite
              </i>
              by me
              
            </div>

            <div class="col-12 col-md-6">

              <ul>

                <li>
                  <a [attr.href]=linkdInLink target="_blank" rel="noopener" aria-label="LinkedIn"
                    data-toggle="tooltip" title="Open my linkedIn site">
                    <span>
                      <svg data-name="Logo" xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
                        <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                      </svg>
                    </span>
                  </a>
                </li>

                <li>
                  <a [attr.href]=repositoryLink target="_blank" rel="noopener" aria-label="Repository"
                    data-toggle="tooltip" title="Open project repository">
                    <span>
                      <svg
                      width="32px"
                      height="32px"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
                      />
                    </svg>
                    </span>
                  </a>
                </li>

                <li>
                  <a [attr.href]=websiteLink target="_blank" rel="noopener" aria-label="Website" class="website-link"
                    data-toggle="tooltip" title="Open my website and show my portfolio">
                    <span class="material-icons-outlined">
                      link
                      </span>
                  </a>
                </li>

              </ul>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
