:root {
    // Notify
    --notify-background: rgba(255, 255, 255, .6);
    --notify-font-family: 'Material Icons';
    --notify-close-icon: '\e5cd';

    --percent-bg: .9;
    --percent-bg-hover: .6;
    --percent-shadow: .3;
    
    --notify-info: #8ab4f8;
    --notify-info-dark: #0d47a1;
    --notify-info-bg: rgba(138, 180, 248, var(--percent-bg));
    --notify-info-bg-hover: rgba(13, 71,161, var(--percent-bg-hover));
    --notify-info-shadow: rgba(13, 71,161, var(--percent-shadow));
    --notify-info-icon: '\e88e';

    --notify-success: #00C851;
    --notify-success-dark: #007E33;
    --notify-success-bg: rgba(129, 201, 149, var(--percent-bg));
    --notify-success-bg-hover: rgba(0, 126, 51, var(--percent-bg-hover));
    --notify-success-shadow: rgba(0, 126, 51, var(--percent-shadow));
    --notify-success-icon: '\e86c';
    
    --notify-warning: #fdd663;
    --notify-warning-dark: #ff8800;
    --notify-warning-bg: rgba(253, 214, 99 , var(--percent-bg));
    --notify-warning-bg-hover: rgba(255, 136, 0, var(--percent-bg-hover));
    --notify-warning-shadow: rgba(255, 136, 0, var(--percent-shadow));
    --notify-warning-icon: '\e000';

    --notify-error: #f28b82;
    --notify-error-dark: #CC0000;
    --notify-error-bg: rgba(242, 139, 130, var(--percent-bg));
    --notify-error-bg-hover: rgba(204, 0, 0, var(--percent-bg-hover));
    --notify-error-shadow: rgba(204, 0, 0, var(--percent-shadow));
    --notify-error-icon: '\e5c9';

    --theme-dark-color: #aaadb2;
    --theme-dark-color-bg-hover: #303134;
    --theme-dark-background-color: #202124;
    --theme-dark-border-color: #5f6368;

    // GLOBAL

    --radio-checked-icon: '\e837';
    --radio-unchecked-icon: '\e836';
    --checkbox-checked-icon: '\e834';
    --checkbox-unchecked-icon: '\e835';
    --minus-circle-filled-icon: '\e15c';
    --plus-cicle-filled-icon: '\e147';
    --full-circle-icon: '\ef4a';
    --full-circle-mini-icon: '\e061';
    --minimize-icon: '\e931';

    --main-color: var(--notify-info-dark);
    --main-color-bg: var(--notify-info-bg);
    --main-color-hover: var(--notify-info-bg-hover);

    --main-background-color: #fff;

    --disabled-color: rgba(0, 0, 0, 0.25);
}